.idea
.pytest_cache
.hypothesis
.env
build
dist
docs/*
tests/__pycache__
venv*/
conflux/__init__.pyc
conflux.egg-info
conflux_web3.egg-info
bin/
lib/
include/
__pycache__
.DS_Store
.vscode
private_tests
legacy_tests
note*.ipynb
share
main*.py
*.bk.py
