# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ "dev", "v1", "cns"]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"] # 3.7 is tested in coverage

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install ".[tester]"
    - name: Run test
      run: |
        pytest tests
    - name: Run test on testnet
      run: |
        export TESTNET_URL=${{secrets.TESTNET_URL}} &&
        export USE_TESTNET=1 &&
        export ENS_ACCOUNT_NAME=${{secrets.ENS_ACCOUNT_NAME}} &&
        export ENS_ACCOUNT_SECRET=${{secrets.ENS_ACCOUNT_SECRET}} &&
        pytest tests
    # - name: test finalization api
    #   run: |
    #     export USE_TESTNET=1 && export TEST_FINALIZATION=1 && pytest tests/middleware/test_pending.py
